@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*Customização do Header*/
.titulo {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #619168;
    overflow: hidden;
    box-sizing: border-box;
}
.topo {
    background-color: #619168;
    text-transform: uppercase;
    text-shadow:
        0.1rem 0.1rem 0rem #333,          /* sombra sólida tipo “contorno” */
        0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.6); /* sombra difusa mais suave */
    font-family: 'Rubik', sans-serif;
    font-size: 2.5rem;
}
/*Customização do Main*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
/*Customização do Footer*/
footer {
    display: flex;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 8%;
    flex-direction: row;
    justify-content:space-around;
    background-color: #619168;
}
.botoes {
    margin: 0.2rem;
    width: 2.5rem;
    height: auto;
    background-color: #619168;
}
.home {
    margin:-1.3rem 0.2rem 0.2rem 0.2rem;
    width: 2.5rem;
    height: auto;
    background-color: #619168;
    border:0.2rem solid black;
    border-radius:50%;
}

/*Pagina Index*/

main.menu_index {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    width: auto;
    height: 16rem;
}
.botoes_index {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    margin: 0.30rem 0 0 0;
    font-family: "Inter", sans-serif;
}
.botoes_index_p {
  padding: 0;
  font-family: "Inter", sans-serif;
}
.botoes_index_p .link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.08rem solid black;
    padding: 1rem 6rem;
    background-color: #F7AF47;     
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}
.botoes_index_p a:hover {
    background-color: #F7AF4799;
    transform: scale(1.02);
}

.botoes_index_market {
  padding: 0;
  margin: 0 0 0 0.30rem;
}
.botoes_index_market .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 0.08rem solid black;
    padding: 1rem 2.5rem;
    background-color: #B87D6B;    
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}
.botoes_index_market a:hover {
    background-color: #B87D6B99;
    transform: scale(1.02);
}

.botoes_index_news {
  padding: 0;
}
.botoes_index_news .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 0.08rem solid black;
    padding: 1rem 2.5rem;
    background-color: #E1C953;    
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}
.botoes_index_news a:hover {
    background-color: #E1C95399;
    transform: scale(1.02);
}

.link {
  display: block;              
  width: 100%;                 
  height: 100%;                
  color: black;
  text-decoration: none;
}

/*Pagina Market*/
.as{
    text-decoration: none;
}
.img_market {
    align-self:flex-end;
    width: 10rem;
    height: 93.3%;
    padding: 0;
    border:0.5rem solid black;
    background-color: rgb(143, 108, 101);
}

.fruta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 35rem;
    height: 15rem;
    background-color: rgb(143, 108, 101);
    border: 0.2rem solid black;
}



.frutanome {
    flex:1;
    text-align:center;
    font-size: 500%;
    color: black;
    font-family: "Inter", sans-serif;
}

.regiao {
    font-size: 3rem;
    font-family: "Inter", sans-serif;
}

.escolha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1rem;
    gap: 1rem;
    background-color: rgb(109, 83, 78);
    border :0.2rem solid black;
    text-transform: uppercase;
}

.tabela {
    display: inline-flex;
    flex-direction: row;
    width: 20%;
    height: auto;
    padding: 0.5rem;
    font-size: 2.5rem;
    gap: 0.5rem;

}
.botaomarket{
    margin: 0.5rem;
    width: 6.5rem;
    height: auto;
    background-color: #619168;
}
.homemarket{
    margin:-3.5rem 0.2rem 0.2rem 0.2rem;
    width: 6.5rem;
    height: auto;
    background-color: #619168;
    border:0.6rem solid black;
    border-radius:50%;
}
/*Pagina Bolsa de Banana*/
.bolsa,.valores {
    width: 80%;
    display: block;
    box-sizing: border-box;
}
.datas {
    display:inline-flex;
    flex-direction:row;
    gap:0.3rem;

}
.elemento{
    border:0.1rem solid black;
    border-radius: 40%;
    background-color: rgba(198, 94, 94, 0.744);
    padding:0.2rem;
    font-family: "Inter", sans-serif;
}

.valores {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: 1rem;
    margin-left:auto;
    margin-right:auto;
}  
.elemento2 {
    padding: 0.2rem;
    border: 0.2rem solid black;
    background: rgb(236, 236, 129);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:1.5rem;
    font-family: "Inter", sans-serif;
}
.bolsa_banana {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 5rem;
    padding-bottom: 8rem;
}
.bolsa_banana article {
    width: 100%;
    display: flex;
    justify-content: center;
}
/*Pagina Anunciar*/
ul.setores {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

input[list] {
    width: 20rem;
    padding: 0.5rem 1.5rem;

    font-size: 16px;
    color: black;
    text-align: center;

    border: 2px solid black;
    border-radius: 0.7rem;
    background-color: #F59B1960;
    margin: 0.5rem;
}

.avancado {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem;

    font-size: 16px;
    color: black;
    border: 2px solid black;
    background-color: #F59B19;
    transition: all 0.3s ease;
}

.avancado:hover {
    background-color: #F59B1999;
    transform: scale(1.02);
}

.preco input {
    width: 20rem;
    border: none;
    outline: none;

    font-size: 16px;
    color: black;
    background: transparent;
    text-align: center;
    margin: 0.5rem;
}

.preco {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    padding: 0rem 1.5rem;
    margin: 0.5rem;

    font-size: 16px;
    color: black;
    border: 2px solid black;
    border-radius: 0.7rem;
    background-color: #F59B1960;
    transition: all 0.3s ease;
}

.peso {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    padding: 0.3rem 1.5rem;
    margin: 0.5rem;

    font-size: 16px;
    color: black;
    border: 2px solid black;
    border-radius: 0.7rem;
    background-color: #F59B1960;
    transition: all 0.3s ease;
}

.peso input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    text-align: center;
    font-size: 16px;
    color: black;
}

.peso select {
    border: none;
    outline: none;
    background: orange;
    border-radius: 0.7rem;
    color: black;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
    appearance: none;
}

.peso select::-ms-expand {
    display: none;
}

.peso select:focus {
    outline: none;
}

.confirmar a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: 20rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem;

    font-size: 16px;
    color: black;
    text-decoration: none;

    border: 2px solid black;
    border-radius: 0.7rem;
    background-color: #71BD6A;
    transition: all 0.3s ease;
}

.confirmar a:hover {
    background-color: #71BD6A80;
    transform: scale(1.02);
}

.confirmar img {
    width: 1.5rem;
    height: auto;
}

.janela_avancado {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;  
    height: 20rem;

    background-color: #ff6bdc;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid black;
    
}

/*Pagina notícias*/

.clima_p{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-self: center;  
    
    font-size: 3rem;
    font-weight: bold;
    font-family: "Inter", sans-serif;

    margin-top: 12%;
    padding: 1%;
    width: 85%;
    height: 8rem;
    border: 0.1rem solid black;
    background-color: #E1C95350;
}
.itens_inferiores{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-self: center;

    font-weight: bold;
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;

    width: 87%;
    height: 2rem;
    border: 0.1rem solid black;
    background-color: #E1C95395;
}
.sub_itens{
    align-content:center ;
    text-align: center;
    width: 25%;
    height: 101%;
    border-right:0.1rem solid black;
    

}
.icones{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-self: center;

    overflow: hidden;
    margin: 4%;
    width: 75%;
    height: 3.2rem;
    border: 0.1rem solid black;
}
.nuvem{
    height: 70%;
    width: auto;

    
}
.nuvem_g{
    height: 100%;
    width: auto;
    

}
.lupa_g{
    
    height: 100%;
    width: auto;
    
}
.caixa_icone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 4rem;
    border-right: 0.1rem solid black;
    background-color: #E1C95395;
}
.caixa_lupa{
    
    background-color: #E1C95395;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    border:0.1rem solid black;
    height: 3.2rem;
    width: 75%;
    margin: 8%;
    

    
    align-items: center;
    justify-self: center;
}
.barra_pesquisa{
    background-color: #E1C95305;
    border: none;
    margin: 5%;
    width: 100%;
    height: 70%;
}
.lupa_news{
    height: 100%;
    width: auto;
    border-right: 0.1rem solid black;
    border-radius: 1rem;
    background-color: #E1C953;

}
.texto_news{
    align-content: center;
    padding: 2%;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    background-color: #E1C95350;
    height: 98%;
    width: 98%;
}
/* {
    border: #ff0000 solid 1px !important;

}
*/